#!jinja2

{% set PRERUN= 'set +u; source ~/intel.compiler; set -u; ulimit -s unlimited' %}
{% set tests = [ 'perfTest', 'perfTestWACCM' ] %}
{% set groups = [ 'control', 'experiment' ] %}

title = "Task for generating Extrae Folding plots"

[cylc]

[scheduling]
	[[dependencies]]
		graph = """
{% for test in tests %}
	{% for group in groups %}
			preprocess => copy_{{test}}_{{group}} => fold_{{test}}_{{group}} => plot_{{test}}
	{% endfor %}
{% endfor %}
		"""

[runtime]
    [[preprocess]]
        script = """
			export TASKROOTDIR=`python -c "import os; print os.path.commonprefix([$CYLC_TASK_LOG_ROOT, $CYLC_TASK_WORK_DIR])"`
            make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make preprocess TASKROOTDIR=$TASKROOTDIR
        """
{% for test in tests  %}
    {% for group in groups  %}

    [[copy_{{test}}_{{group}}]]
        script = """
            {{PRERUN}}; make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make copy GROUP={{group}} TEST={{test}}
        """

	[[fold_{{test}}_{{group}}]]
		script = """
			{{PRERUN}}; make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make fold GROUP={{group}} TEST={{test}}
		"""

    {% endfor %}

	[[plot]]
		script = """
			{{PRERUN}}; make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make plot TEST={{test}}
		"""
{% endfor %}

[visualization]
