#!jinja2 

{% set ICP = 1 %}
{% set FCP = 3 %}
{% set CPUS = [ 'KNL', 'HSW', 'SNB' ] %}
{% set QUEUES = { 'KNL': 'knl', 'HSW': 'haswell-2', 'SNB': 'sandybridge' } %}

title = "Task for deciding if -qopenmp compiler flag makes difference"

[cylc]

[scheduling]
	cycling mode = integer
	initial cycle point = {{ICP}}
	final cycle point = {{FCP}}
    [[dependencies]]
        [[[R1]]] # = R1/1/?
			graph = """
{% for CPU in CPUS %}
				copy_files_{{CPU}} => build_control_{{CPU}} & build_experiment_{{CPU}}
				build_control_{{CPU}} => run_control_{{CPU}}
				build_experiment_{{CPU}} & run_control_{{CPU}} => run_experiment_{{CPU}}
{% endfor %}
			"""
        [[[P1]]] # = R/1/P1
            graph = """
{% for CPU in CPUS %}
				run_experiment_{{CPU}}[-P1] => run_control_{{CPU}} => run_experiment_{{CPU}}
{% endfor %}
			"""

		[[[ R1/$ ]]]
            graph = """
{% for CPU in CPUS %}
				run_experiment_{{CPU}} => gen_stat_{{CPU}}
{% endfor %}
			"""

[runtime]
{% for CPU in CPUS %}
    [[copy_files_{{CPU}}]]
        script = "make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make copyfiles CPU={{CPU}}"

    [[build_control_{{CPU}}]]
        script = "make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make bldcontrol CPU={{CPU}}"

    [[build_experiment_{{CPU}}]]
        script = "make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make bldexp CPU={{CPU}}"

    [[run_control_{{CPU}}]]
        script = "make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make runcontrol CPU={{CPU}}"
        [[[job]]] 
            batch system = slurm 
            execution time limit = PT15M 
        [[[directives]]] 
            --nodes = 1 
            --tasks = 1 
            --partition = {{QUEUES[CPU]}}
    [[run_experiment_{{CPU}}]]
        script = "make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make runexp CPU={{CPU}}"
        [[[job]]] 
            batch system = slurm 
            execution time limit = PT15M 
        [[[directives]]] 
            --nodes = 1 
            --tasks = 1 
            --partition = {{QUEUES[CPU]}}
    [[gen_stat_{{CPU}}]]
        script = """
			echo "" > $CYLC_TASK_WORK_DIR/$CYLC_SUITE_NAME.{{CPU}}.run_control.stat
			echo "" > $CYLC_TASK_WORK_DIR/$CYLC_SUITE_NAME.{{CPU}}.run_experiment.stat

	{% for I in range( ICP, FCP+1) %}
			cylc log -o chemck run_control_{{CPU}}.{{I}} >> \
				$CYLC_TASK_WORK_DIR/$CYLC_SUITE_NAME.{{CPU}}.run_control.stat
			cylc log -o chemck run_experiment_{{CPU}}.{{I}} >> \
				$CYLC_TASK_WORK_DIR/$CYLC_SUITE_NAME.{{CPU}}.run_experiment.stat
	{% endfor %}

			make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make checkdiff \
				BASELINE=$CYLC_TASK_WORK_DIR/$CYLC_SUITE_NAME.{{CPU}}.run_control.stat \
				FOLLOWUP=$CYLC_TASK_WORK_DIR/$CYLC_SUITE_NAME.{{CPU}}.run_experiment.stat \
				CPU={{CPU}}
		"""
{% endfor %}

[visualization]
