#!jinja2

{% set groups = [ 'control', 'experiment' ] %}

title = "Task for generating Extrae trace data"

[cylc]

[scheduling]
	[[dependencies]]
		graph = """
    {% for group in groups  %}
			preprocess => copy_{{group}} => clean_{{group}} => build_{{group}} => run_{{group}} => collect_{{group}}
    {% endfor %}
		"""

[runtime]
    [[preprocess]]
        script = """
			export TASKROOTDIR=`python -c "import os; print os.path.commonprefix([$CYLC_TASK_LOG_ROOT, $CYLC_TASK_WORK_DIR])"`
            make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make preprocess TASKROOTDIR=$TASKROOTDIR
        """
    {% for group in groups  %}

    [[copy_{{group}}]]
        script = """
            make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make copy_{{group}}
        """

	[[clean_{{group}}]]
		script = """
			make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make clean_{{group}}
		"""

	[[build_{{group}}]]
		script = """
			make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make build_{{group}}
		"""

	[[run_{{group}}]]
		script = """
			make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make run_{{group}}
		"""
        [[[environment]]] 
            REQUEST_SUSPEND_HPC_STAT = 1 

	[[collect_{{group}}]]
		script = """
			make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make collect_{{group}}
		"""

    {% endfor %}

[visualization]
