#!jinja2

{% set TESTS = [ 'RRTMG', 'RRTMGP' ] %}
{% set WAVES = [ 'SW', 'LW' ] %}

{# set TESTS = [ 'RRTMGP' ] #}
{# set WAVES = [ 'SW' ] #}

{% set SCRIPTS = { 'RRTMG': 'f19c5aqportm', 'RRTMGP': 'f19c5aqrpportm' } %}
{% set SRCPATH = 'src/components/cam/src/physics/' %}
{% set CALLSITES = { 
	'RRTMG': { 
		'SW': SRCPATH +'rrtmg/radsw.F90:radsw:rad_rrtmg_sw:rrtmg_sw', 
		'LW': SRCPATH +'rrtmg/radlw.F90:radlw:rad_rrtmg_lw:rrtmg_lw' 
		},
	'RRTMGP': { 
		'SW': SRCPATH + 'rrtmgp/radiation.F90:radiation:radiation_tend:rrtmgp_sw', 
		'LW': SRCPATH + 'rrtmgp/radiation.F90:radiation:radiation_tend:rrtmgp_lw' 
		} 
	} 
%}

title = "Task for generating longwave and shortwave kernels using KGen"

[cylc]

[scheduling]
    [[dependencies]]
        graph = """
{% for TEST in TESTS %}
	{% for WAVE in WAVES %}
			preprocess => copy_{{WAVE}}_{{TEST}} => run_{{WAVE}}_{{TEST}}
	{% endfor %}
{% endfor %}
		"""

#export TASKROOTDIR=`python -c "import os; print os.path.commonprefix(['$CYLC_TASK_LOG_ROOT', '$CYLC_TASK_WORK_DIR'])"`

[runtime]
    [[preprocess]]
        script = """
        """
{% for TEST in TESTS %}
	{% for WAVE in WAVES %}

    [[copy_{{WAVE}}_{{TEST}}]]
        script = """
            make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make copy WAVE={{WAVE}} TEST={{TEST}}
        """

    [[run_{{WAVE}}_{{TEST}}]]
        script = """
			make -f $CYLC_SUITE_DEF_PATH/bin/cmds.make run WAVE={{WAVE}} TEST={{TEST}} SCRIPT={{SCRIPTS[TEST]}} CALLSITE={{CALLSITES[TEST][WAVE]}}
        """

	{% endfor %}
{% endfor %}

[visualization]

